<ul class="voting-list" *ngIf="userCanDownvote || userCanUpvote">
  <h3>{{ 'chooseMVP' | translate }}</h3>
  <li *ngFor="let player of rocketPlayersOfTheDay">
    <div *ngIf="player.uid !== userUid">
      <h3>{{ player.name }}</h3>
      <button title="MVP des Tages!" [disabled]="!userCanUpvote" mat-raised-button (click)="Upvoted(player.uid)">
        <mat-icon class="upvote-icon">thumb_up</mat-icon>
      </button>
      <button title="Totaler Noob!" [disabled]="!userCanDownvote" mat-raised-button (click)="Downvoted(player.uid)">
        <mat-icon class="downvote-icon">thumb_down</mat-icon>
      </button>
    </div>
  </li>
</ul>