<div class="rankingContainer">
  <div *ngIf="rocketRankingData; else loading">
    <h3>{{chartTitle}}</h3>
    <ngx-charts-bar-vertical [view]="view" [legendTitle]="legendTitle" [scheme]="colorScheme"
      [results]="rocketRankingData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
  </div>
  <div *ngIf="rocketRanking && isCurrentRanking && upVotes && downVotes">
    <app-voting-list [upvotes]="upVotes" [downvotes]="downVotes" [rocketPlayersOfTheDay]="rocketRanking.players">
    </app-voting-list>
  </div>




  <ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
</div>
