<div class="rankingContainer">
  <div *ngIf="rocketRankingData; else loading">
    <h3>{{chartTitle}}</h3>
    <ngx-charts-bar-vertical [view]="view" [legendTitle]="legendTitle" [scheme]="colorScheme"
      [results]="rocketRankingData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>

  <div *ngIf="rocketRanking && isCurrentRanking && userCanChooseDown">
    <h3>MVP Wählen:  <mat-icon>thumbs_down</mat-icon>
    </h3>
    <mat-chip-list aria-label="Statistics">
      <mat-chip color="accent" selected *ngFor="let player of rocketRanking.players">
        {{ player.name}}
      </mat-chip>
    </mat-chip-list>
  </div>

  <ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
</div>
