<div class="master-layout">
  <div class="header">
    <ul>
      <li class="logo">
        <p class="logo-text">Welcome to Rocket League Tracker</p>
      </li>
      <li class="login" *ngIf="!authService.isLoggedIn()">
        <app-login-register-modal></app-login-register-modal>
      </li>
      <li class="loggedInButtonsHolder" *ngIf="authService.isLoggedIn()">
        <app-user-profile-button [user]="user"></app-user-profile-button>
        <app-logout-section></app-logout-section>
      </li>
    </ul>
  </div>

  <div *ngIf="!authService.isLoggedIn(); else pageContent">
      <mat-toolbar>Unauthentifiziert. Bitte einloggen.</mat-toolbar>
  </div>
  <ng-template #pageContent>
    <div class="page-content">
          <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>