.unauthorized {
  background-color: coral;
  padding: 20px;
  width: 200px;

  p {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.authorized {
  code {
    margin-left: 10px;
  }

  .rocketPlayersContainer {
    display: flex;
    flex-direction: column;

    .rockerPlayer {
      background-color: #43495B;
      color: #C1C9DA;
      margin: 10px;
    }
  }
}
